body {
    margin: 0;
}

.header {

}

.header1 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #0d3c55;
    padding: 14px;
}

.header1 ul {
    padding: 0;
    margin: 0;
}

.header1 ul li {
    display: inline;
}

.header1 ul li a {
    text-decoration: none;
    color: #ffffff;
}

.header1 ul li a:hover {
    opacity: 0.7;
}

.fa {
    padding: 9px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    margin: 0 2px 0 2px;
    border-radius: 50%;
}

/*.fa:hover {
    opacity: 0.7;
}*/

.fa-facebook {
    background: #3B5998;
    color: white;
    width: 32px;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.header2 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: lightgray;
    padding: 14px;
}

.header2 ul li a {
    color: #313131;
}

.header2 ul li a:hover {
    color: #f16c20;
}

.logo {
    padding: 0;
    margin: 0;
}








/*.header {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #0d3c55;
}*/

/*.padd {
    padding: 10px 0 10px 0;
    align-items: center;
}

.ulSocial {
    margin: 0;
    padding: 0;
    list-style: none;
}



.myNav {
    background-color: white;
}

.myA {
    padding-top: 0;
    padding-bottom: 0;
    color: black;
}

.myA:hover {
    color: #f16c20;
}

.myA1 {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    color: black;
}

.myA1:hover {
    color: #f16c20;
}*/
