.carouselImg {
    max-height: 600px;
}

.carouselShadow {
    box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
}

.coloredLine {
    border-top: 2px solid #f16c20;
    width: 75px;
    margin-bottom: 0;
}

.perevagu {
    text-align: center;
    border-bottom: 1px solid #eaebec;
}

.perevaguRow {
    margin-top: 50px;
    margin-bottom: 50px;
}

.services {
    margin-top: 50px;
}

.servicesText {
    margin: 0;
}

.services a {
    color: black;
    text-decoration: none;
}

.services a:hover {
    opacity: 0.7;
}

.pronas {
    border-bottom: 1px solid #eaebec;
    text-align: center;
}

.pronasRow {
    margin-top: 50px;
    margin-bottom: 50px;
}

.pronasImg {
    width: 100%;
    margin-bottom: 10px;
}

.textAboutUs {
    text-align: justify;
    margin-top: 10px;
}

.poslygu {
    border-bottom: 1px solid #eaebec;
    text-align: center;
}

.poslyguRow {
    margin-top: 50px;
    margin-bottom: 50px;
}

.poslyguImg {
    margin-top: 50px;
    position: relative;
    text-align: center;
    color: white;
}

.poslyguImg:hover {
    opacity: 0.8;
}

.poslyguImg a {
    text-decoration: none;
    color: white;
}

.poslyguImg a img {
    width: 100%;
}

.poslyguText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.partneru {
    border-bottom: 1px solid #eaebec;
    text-align: center;
}

.partneruRow {
    margin-top: 50px;
    margin-bottom: 50px;
}

.partner {
    margin-top: 50px;
}

.partnerFaceImg {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 5px solid #e5e5e5;
    box-shadow: 0 0 0 5px #f5f5f5;
}

.divPosada {
    margin: 10px 0;
    color: #f16c20;
    line-height: 1.1;
}

.divPosadaInfo {
    margin-top: 25px;
    font-style: italic;
}

.personalData {
    margin-top: 50px;
    text-align: center;
}

.addressImg {
    font-size: 28px;
}

.addressInfo {
    margin-top: 10px;
    line-height: 1.1;
}

.personalDataInfo {
    margin-bottom: 50px;
}
